<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Правила организации отступов: как сделать вёрстку гибкой и не допустить ошибок</title>
</head>

<body>
  <div class="container">
    <h1 class="header-one">
      Правила организации отступов: как сделать вёрстку гибкой и не допустить ошибок
    </h1>
    <p class="paragraphs">
      Вёрстка должна быть <strong>максимально гибкой</strong>. Даже если заказчик или работодатель говорит, что сайт
      статичный и не будет меняться, всё равно стоит делать так, будто завтра добавят несколько блоков текста,
      несколько
      элементов или что-то ещё.
    </p>
    <p class="paragraphs">
      Нужно точно знать, <i>как поведут себя блоки при вёрстке, что произойдёт при изменениях</i>. И здесь помогают
      правила организации отступов. Они позволяют легко менять, улучшать и масштабировать вёрстку и уберегут вас от
      типичных ошибок.
    </p>
    <div class="header-two">
      <h2>
        Содержание
      </h2>
        <p class="paragraphs">
          Первая из частей - HTML. Это начальная стадия соблюдения кодстайла, ведь любой сайт вы начинаете писать
          именно с
          этого языка. Давайте посмотрим на основные правила:
        </p>
      <div class="anchors">
        <ul>
          <li>
            <a class="anchor" href="#1">Основные принципы работы с отступами</a>
          </li>
          <li>
            <a class="anchor" href="#2">Первый принцип: отступы от предыдущего к следующему</a>
          </li>
          <li>
            <a class="anchor" href="#3">Второй принцип: отступы задаются только между соседями</a>
          </li>
          <li>
            <a class="anchor" href="#4">Третий принцип: у последнего элемента группы обнуляем отступ</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="1">
      <h3 class="header-three">
        Основные принципы работы с отступами
      </h3>
      <p class="paragraphs">
        У любого сайта или документа есть так называемый поток — порядок вывода объектов в документе. В вёрстке этот
        поток
        идёт сверху вниз, слева направо. Именно поэтому, если какой-то элемент на макете находится справа, он должен в
        HTML-коде идти последним из своей группы.
      </p>
      <p class="paragraphs">
        Исходя из этого, можно сразу сформулировать первый принцип.
      </p>
    </div>
    <div id="2">
      <h3 class="header-three">
        Отступы задаются от предыдущего элемента к следующему
      </h3>
      <p class="paragraphs">
        Это значит, что в вёрстке нужно стараться использовать CSS-свойства <b>margin-right</b> и
        <b>margin-bottom</b>,
        то
        есть отступ справа и отступ снизу. Проще говоря - избегаем отступов слева и сверху полностью.
      </p>
      <div class="img-com">
        <figure>
          <img src="img/1.jpg" alt="1">
          <figcaption>
            На скриншоте видно, как правильно задавать отступы, — только справа и снизу (показано оранжевым)
          </figcaption>
        </figure>
      </div>
      <p class="paragraphs">
        Внешние отступы сверху и слева <b>(margin-top и margin-left)</b> заменяются на аналогичные внутренние отступы
        <b>(padding)</b> у родителя элементов.
      </p>
      <div class="img-not-com">
        <img src="img/2.jpg" alt="2">
      </div>
      <p class="paragraphs">
        Получается, что блок не может сдвигаться благодаря своим отступам, — он делает это только за счёт соседних
        элементов (и сам двигает соседние).
      </p>
    </div>
    <div id="3">
      <h3 class="header-three">
        Отступы задаются только между соседними элементами в потоке
      </h3>
      <p class="paragraphs">
        Если у блока нет соседа с левой стороны — задавать ему отступ слева нельзя. То же самое касается любой из
        сторон.
      </p>
      <div class="img-not-com">
        <img src="img/3.jpg" alt="3">
      </div>
      <p class="paragraphs">
        У обоих задан отступ снизу. Для первого списка это применимо, потому что есть сосед снизу — второй список. А
        для
        второго, не имеющего такого соседа, — отступа нет.
      </p>
      <div class="img-com">
        <figure>
          <img src="img/4.jpg" alt="4">
          <figcaption>
            На скриншоте — выпадение отступов. Отступ есть, но он не увеличивает размер «родителя» с голубым фоном,
            образуя
            лишний отступ — типичную ошибку вёрстки.
          </figcaption>
        </figure>
      </div>
    </div>
    <div id="4">
      <h3 class="header-three">
        Последнему элементу группы нужно обнулять отступ
      </h3>
      <p class="paragraphs">
        Это легко сделать с помощью псевдоклассов в CSS. Например, есть псевдокласс <b>:last-child</b>, который
        позволяет
        выбрать последний элемент из группы (например, как в нашем случае: мы найдём последний элемент списка).
      </p>
      <p class="paragraphs">
        С помощью <b>:last-child</b> мы обнуляем отступ у последнего <b>ul</b>, как показано в примере. Теперь всё
        работает как надо.
      </p>
      <div class="img-not-com">
        <img src="img/5.jpg" alt="5">
      </div>
      <p class="paragraphs">
        Чтобы не создавать два селектора, можно написать короче, используя псевдокласс :not. Тут мы буквально говорим
        следующее: «Задай отступ всем ul, но не последнему».
      </p>
      <div class="img-not-com">
        <img src="img/6.jpg" alt="6">
      </div>
    </div>
    <h3 class="header-three">
      Типичный пример: отступы в карточке
    </h3>
    <p class="paragraphs">
      Рассмотрим типичный пример — реализацию карточки с контентом на сайте. Как здесь лучше поступить?
    </p>
    <p class="paragraphs">
      В нашем примере самая простая карточка: с картинкой, заголовком и описанием. Как правильнее сделать отступы у
      заголовка и описания? На самом деле, всё очень просто: нужно применить принципы, о которых я рассказал.
    </p>
    <div class="img-not-com">
      <img src="img/7.jpg" alt="7">
    </div>
    <p class="paragraphs">
      Нам достаточно обернуть весь текст карточки в блок и задать блоку внутренний отступ — padding. Так наша вёрстка
      будет соответствовать сразу трём принципам. А чтобы сделать отступ между заголовком и описанием, достаточно
      просто
      сделать отступ снизу — для заголовка.
    </p>
    <div class="header-two">
      <h2>
        Итог
      </h2>
        <p class="paragraphs">
          Это основные правила организации отступов, которые помогут сделать вёрстку качественной и гибкой. Главное -
          начать
          им следовать. Со временем их соблюдение войдёт в привычку и вы сразу начнёте понимать, где можно допустить
          ошибку и
          как её избежать.
        </p>
    </div>
  </div>
</body>

</html>
