<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Index Menu</title>
</head>

<body>
  <div class="main-content">
    <a class="logo" target="_blank" href="https://skillbox.ru/"><img width="500" src="img/logo-light.png"
        alt="Skillbox"></a>
    <div class="transitions">
      <a class="transition-info" href="#">Modules</a>
      <a class="transition-info" href="article.html">Indents</a>
    </div>
    <a class="transition-download" href="skillbox.docx" download>Скачать программу</a>
  </div>
</body>

</html>
