html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
}

@font-face {
  font-family: "Muller" ;
  font-display: swap;
  font-weight: normal;
  src: local("Muller"),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff')  format('woff');
}

@font-face {
  font-family: "Muller" ;
  font-display: swap;
  font-weight: 500;
  src: local("Muller"),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff')  format('woff');
}

@font-face {
  font-family: "Muller" ;
  font-display: swap;
  font-weight: bold;
  src: local("Muller"),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff')  format('woff');
}

body {
  font-family: "Muller", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #000;
  background-color: #F1F1F1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.conteiner {
  margin-left: auto;
  margin-right: auto  ;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 30px;
  padding-bottom: 35px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}

.header-tel {
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #666666;
}

.header-account {
  font-size: 16px;
  line-height: 1;
  color: #CC9933;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin-right: auto;
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 15px 45px ;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.navigation {
  max-width: 700px;
  margin-right: auto;
  padding-right: 11px;
  border-right: 1px solid #E1E1E1;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 11px;
  font-size: 16px;
  line-height: 1;
  color: #666666;

}

.menu-item {
  margin-right: 45px;
}

.header-bottom-btn:not(:nth-child(2n)) {
  margin-right: 40px;
}

.btn {
  display: inline-block;
  padding: 13px 20px ;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  background-color: transparent;
}

.header-btns-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
}

.specials {
  padding-top: 35px;
  padding-bottom: 35px;
}

.specials-wrap {
  display: flex;
  justify-content: space-between;
}

.specials-column {
  width: 573px;
}

.specal-card {
  width: 573px;
  min-height: 258px;
  padding: 40px;
  border-radius: 15px;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.specal-card:not(:last-child) {
  margin-bottom: 23px;
}

.special-card-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 540px;
}

.special-title {
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 1;
  color: #FFFFFF;
}

.special-price {
  display: block;
  margin-bottom: 43px;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0.8;
}

.special-title-big {
  font-size: 60px;
  line-height: 1;
}

.special-price-big {
  font-size: 30px;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0.8;
}

.arrow-link {
  font-size: 16px;
  line-height: 1;
  color: #F0BF5F;
}

.arrow-link::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border-top: 2px solid;
  border-right: 2px solid;
  vertical-align: middle;
  transform: rotate(45deg);
}

.about {
  padding-top: 35px;
  padding-bottom: 35px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 200%;
}

.text:not(:last-child) {
  margin-bottom: 20px;
}

.about-text {
  max-width: 888px;
}

.services {
  padding-top: 35px;
  padding-bottom: 35px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  width: 573px;
  min-width: 330px;
  margin-bottom: 23px;
  padding: 191px 45px 50px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #FFFFFF;
}

.services-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;

  font-weight: 500;
}

.services-link {
  color: #CC9933;
  line-height: 2;
  font-size: 20px;
}

.benefits {
  padding-top: 35px;
  padding-bottom: 35px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefit-card {
  width: 275px;
  min-height: 275px;
  margin-bottom: 22px;
  padding: 116px 42px 40px 45px;
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.benefit-card:not(:nth-child(4n)) {
  margin-right: 23px;
}

.hotels {
  padding-top: 35px;
  padding-bottom: 35px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel {
  min-height: 440px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.hotel-image {
  display: block;
  background-color: gray;
}

.hotel-item {
  display: flex;
  width: 374px;
  margin-bottom: 23px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.hotel-text {
  padding: 36px 45px 40px;
}

.hotel-top-info {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.hotel-price {
  max-width: 180px;
  margin-right: auto;
}

.hotel-price-number {
  font-size: 20px;
  line-height: 1;
}

.hotel-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
}

.hotel-price-from {
color: #999999;
}

.hotel-place {
  display: block;
  margin-bottom: 20px;
  line-height: 1;
  color: #999999;
}

.hotel-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.hotels-show-more {
  max-width: 440px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-repeat: no-repeat;
  padding: 40px 40px 40px 54px;
  border-radius: 15px;
}

.show-more-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  color: #FFFFFF;
}
