.btn {
  display: inline-block;
  padding: 20px 38px;
  font-family: var(--montserrat), sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--bold);
  color: var(--white);
  background-color: var(--orange);
  transition: background-color var(--short) ;
  outline: none;
  cursor: pointer;
  border-radius: 16px;
}

.btn:hover,
.btn:focus {
  background-color: var(--orange-transp);
}

.btn:active {
  background-color: var(--dark-orange);
}

.btn--big {
  max-width: 400px;
  padding: 24px 37px;
  font-size: 24px;
  line-height: 29px;
}

.btn--border-accent {
  padding: 16px 36px;
  border: 3px solid var(--orange);
  color: var(--white);
  background-color: transparent;
  transition: background-color var(--short), border-color var(--short);
}

.btn--border-accent:hover,
.btn--border-accent:focus {
  background-color: var(--orange);
}

.btn--border-accent:active {
  border-color: var(--dark-orange);
  background-color: var(--dark-orange);
}

.btn--border {
  border: 1px solid var(--dark-gray);
  color: var(--dark);
  font-weight: var(--regular);
  background-color: transparent;
  transition-property: color, background-color, border-color;
  transition-duration: var(--short);
}

.btn--border:hover,
.btn--border:focus {
  color: var(--white);
  border-color: var(--dark-gray);
  background-color: var(--dark-gray);
}

.btn--border:active {
  border-color: var(--black);
  background-color: var(--black);
}
