.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 868px;
  width: 100%;
  max-height: 622px;
  background-color: var(--gray-blue);
  background-image: url("..//img/about-bg.jpg");
  background-size: cover;
  background-position: center;
}

.card-detail__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  color: var(--white);
  background-color: var(--dark-transp);
  border-radius: 32px;
}

.card-detail__text {
  max-width: 455px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 40px;
  font-weight: var(--bold);
  line-height: 32px;
}

.card-detail__btn {
  margin-left: auto;
}
