.feedback__title {
  margin-bottom: 25px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__input {
  margin-bottom: 25px;
  padding: 14px 24px;
  border: none;
  line-height: 32px;
  color: var(--lightgray);
  background-color: var(--dark-light);
  outline: none;
  transition: background-color var(--short);
  border-radius: 16px;
}

.feedback__input:hover,
.feedback__input:focus {
  background-color: var(--dark-gray);
}

.feedback__input:focus {
  color: var(--white);
}

.feedback__input--textarea {
  margin-bottom: 32px;
}

.feedback__input--textarea {
  height: 150px;
  resize: none;
}

.feedback__input::placeholder {
  color: var(--lightgray);
}

.feedback__form-bottom {
  display: flex;
  align-items: center;
}

.feedback__submit-btn {
  flex-shrink: 0;
  max-width: 269px;
  width: 100%;
  margin-right: 23px;
}

.feedback__label {
  line-height: 1;
  cursor: pointer;
  transition: color var(--short);
}

.feedback__label:hover {
  color: var(--white);
}

.feedback__visual-check {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid;
  transition: border-color var(--short);
}

.feedback__visual-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 4px;
  border-left: 2px solid var(--lightgreen);
  border-bottom: 2px solid var(--lightgreen);
  opacity: 0;
  transform: translate(-50%, -60%) rotate(-45deg) scale(2) ;
  transition-property: opacity, transform;
  transition-duration: var(--short);
}

.feedback__check-text,
.feedback__visual-check {
  vertical-align: middle;
}

.feedback__checkbox:checked ~ .feedback__visual-check::before {
  opacity: 1;
  transform: translate(-50%, -60%) rotate(-45deg) scale(1) ;
}

.feedback__checkbox:focus ~ .feedback__visual-check {
  border-color: var(--orange);
}
