.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--lightgray);
  background-color: var(--black);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__nav {
  max-width: 252px;
  margin-right: 6%;
}

.footer__logo {
  display: flex;
  align-items: flex-start;
  width: 224px;
  min-height: 72px;
  margin-bottom: 20px;
}

.footer__menu {
  margin-bottom: 90px;
  font-weight: var(--semibold);
  font-size: 18px;
  line-height: 36px;
}

.footer__menu-link {
  transition: color var(--short);
  outline: none;
}

.footer__menu-link:hover {
  color: var(--orange);
}

.footer__menu-link:focus:not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.footer__menu-link:active {
  color: var(--dark-orange);
}

.footer__feedback {
  width: calc(570 / 1770 * 100%);
}

.footer__about {
  width: calc(363 / 1770 * 100%);
}


.footer__about {
  padding-top: 87px;
}

