html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img, svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--montserrat), sans-serif;
  font-size: var(--default-fs);
  line-height: var(--default-lh);
  color: var(--derk);
  background-color: var(--white);
}

.container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 59px;
  font-weight: var(--regular);
}

.text {
  line-height: 32px;
  margin-top: 0;
}

.text:last-child {
  margin-bottom: 0;
}
