.hero {
  padding-top: 50px;
  padding-bottom: 25px;
}

.hero__wrapper {
  position: relative;
  padding: 100px 80px;
}

.hero__content {
  position: relative;
  z-index: 11;
  max-width: 840px;
  color: var(--white);
}

.hero__slider{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-blue);
  background-image: url('../img/slide-bg-1.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 70px;
  line-height: 85px;
  font-weight: var(--extrabold);
}

.hero__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: var(--bold);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 40px;
}

.hero__text:last-of-type {
 margin-bottom: 90px;
}

.hero__btn:not(:last-child) {
  margin-bottom: 40px;
}
