<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 class="visually-hidden">Lagoon - лучшие в мире отели</h1>
  <div class="conteiner">
    <header class="header">
      <div class="header-top">
        <a href="#" class="header-logo">
            <img src="img/logo.svg" class="header-logo" alt="Logo"></a>
        <div class="header-info">
            <a href="tel:+74953225448" class="header-tel">+7 495 322-54-48</a>
            <a href="#" class="header-account">
              <img src="img/account-arrow.svg" alt="account">
              Личный кабинет</a>
        </div>
      </div>
      <div class="header-bottom">
        <nav class="navigation">
          <ul class="reset-list menu">
            <li class="menu-item"><a href="#" class="menu-link">О нас</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Услуги</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Преимущества</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Размещение</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Блог</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Контакты</a></li>
          </ul>
        </nav>
        <div class="header-btns-wrap">
          <a class="btn header-bottom-btn"  href="#">Хочу тур</a>
          <button class="btn header-bottom-btn">Обратный звонок</button>
        </div>
      </div>
    </header>
  </div>
    <section class="specials">
        <h2 class="section-title">Спецпредложения</h2>
        <div class="specials-wrap">
          <div class="specials-column">
            <article class="specal-card" style="background-image: url('img/maldivs.jpg') ;">
              <h3>Мальдивские острова</h3>
              <span class="special-price">от 55 000 ₽</span>
              <a href="#" class="arrow-link">Подробнее</a>
            </article>
            <article class="specal-card" style="background-image: url('img/krit.jpg') ;">
              <h3>Горящий тур на остров Крит</h3>
              <span class="special-price">от 30 000 ₽</span>
              <a href="#" class="arrow-link">Подробнее</a>
            </article>.special-title
          </div>
          <div class="specials-column">
            <article class="specal-card special-title-big" style="background-image: url('img/lux.jpg') ;">
              <h3>Номера категории люкс </h3>
              <span class="special-price special-title-big">от 5 000 ₽</span>
              <a href="#" class="arrow-link">Подробнее</a>
            </article>
          </div>
        </div>
    </section>
    <section class="about">
      <h2 class="section-title">О нас</h2>
      <p class="text">Идейные соображения высшего порядка, а также сложившаяся структура организации влечёт за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся структура организации требуют определения и уточнения существенных финансовых
      и административных условий.</p>
    </section>
    <section class="services">
      <h2 class="section-title">Услуги</h2>
      <ul class="reset-list services-list">
        <li class="services-item" style="background-image: url(img/exclusive.jpg)">
          <h3 class="services-item-title"><a href="#" class="arrow-link">Эксклюзивное обслуживание</a></h3>
          <p class="text">Равным образом постоянный количественный рост и сфера нашей активности</p>
        </li>
        <li class="services-item" style="background-image: url(img/bank.jpg)">
          <h3 class="services-item-title"><a href="#" class="arrow-link">Аренда банкетных залов</a></h3>
          <p class="text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм</p>
        </li>
        <li class="services-item" style="background-image: url(img/sauni.jpg)">
          <h3 class="services-item-title"><a href="#" class="arrow-link">Сауны, бассейны, бани, фитнес-залы</a></h3>
          <p class="text">Не следует, однако забывать, что начало повседневной работы по формированию позиции</p>
        </li>
        <li class="services-item" style="background-image: url(img/cars.jpg)">
          <h3 class="services-item-title"><a href="#" class="arrow-link">Охраняемые автомобильные стоянки</a></h3>
          <p class="text">Не следует, однако забывать, что начало повседневной работы по формированию позиции</p>
        </li>
      </ul>
    </section>
    <section class="benefits">
      <h2 class="section-title">Преимущества</h2>
      <ul class="reset-list benefits-list">
        <li class="benefit-card" style="background-image: url('img/dush.svg') ;">
          <p class="test">Идейные соображения высшего порядка,
            а также постоянный количественный рост</p>
        </li>
        <li class="benefit-card" style="background-image: url('img/polotence.svg') ;">
          <p class="test">Значимость этих проблем настолько очевидна, что вопрос остаётся открытым</p>
        </li>
        <li class="benefit-card" style="background-image: url('img/batareya.svg') ;">
          <p class="test">Таким образом реализация плановых заданий играет важную роль для понимания</p>
        </li>
        <li class="benefit-card" style="background-image: url('img/hotel-key.svg') ;">
          <p class="test">Повседневная практика показывает, что сложившаяся структура организации</p>
        </li>
        <li class="benefit-card" style="background-image: url('img/parking.svg') ;">
          <p class="test">Равным образом рамки и место обучения кадров способствует подготовки сотрудника</p>
        </li>
        <li class="benefit-card" style="background-image: url('img/security-box.svg') ;">
          <p class="test">Консультация с активом влечёт за собой процесс внедрения услуг нашего сервиса</p>
        </li>
        <li class="benefit-card" style="background-image: url('img/security-box.svg') ;">
          <p class="test">Повседневная практика показывает, что дальнейшее развитие различных </p>
        </li>
        <li class="benefit-card" style="background-image: url('img/swimming-pool.svg') ;" >
          <p class="test">Значимость этого настолько очевидна, что консультация наших экспертов помогает</p>
        </li>
      </ul>
    </section>
    <section class="hotels">
      <h2 class="section-title">Размещение</h2>
      <ul class="reset-list hotel-list">
        <li class="hotel-item">
          <article class="hotel">
            <img  src="img/espanola.jpg" alt="espanola" class="hotel-image">
            <div class="hotel-text">
              <div class="hotel-top-info">
                <span class="hotel-price">
                  <span class="hotel-price-from">от</span>
                  <b class="hotel-price-number">4 698 ₽</b>
                  / ночь
                </span>
                <div class="hotel-rating">
                    <img src="img/start-ok.svg" alt="Рейтинг фильма 4 из 5">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/star.svg" alt="">
                </div>
              </div>
              <h3 class="hotel title">Lagoona española</h3>
                <span class="hotel-place">Барселона, Испания</span>
                <a href="#" class="btn">Номера</a>

            </div>
          </article>
        </li>
        <li class="hotel-item">
          <article class="hotel">
            <img src="img/son-tipicas.jpg" alt="son tipicas" class="hotel-image">
            <div class="hotel-text">
              <div class="hotel-top-info">
                <span class="hotel-price">
                  <span class="hotel-price-from">от</span>
                  <b class="hotel-price-number">5 148 ₽</b>
                  / ночь
                </span>
                <div class="hotel-rating">
                  <img src="img/start-ok.svg" alt="Рейтинг фильма 4 из 5">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/star.svg" alt="">
                </div>
              </div>
              <h3 class="hotel title">Lagoona son típicas</h3>
                <span class="hotel-place">Барселона, Испания</span>
                <a href="#" class="btn">Номера</a>

            </div>
          </article>
        </li>
        <li class="hotel-item">
          <article class="hotel">
            <img src="img/de_la_guerra.jpg" alt="de la guerra" class="hotel-image">
            <div class="hotel-text">
              <div class="hotel-top-info">
                <span class="hotel-price">
                  <span class="hotel-price-from">от</span>
                  <b class="hotel-price-number">6 254 ₽</b>
                  / ночь
                </span>
                <div class="hotel-rating">
                  <img src="img/start-ok.svg" alt="Рейтинг фильма 4 из 5">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/star.svg" alt="">
                </div>
              </div>
              <h3 class="hotel title">Lagoona de la guerra</h3>
                <span class="hotel-place">Барселона, Испания</span>
                <a href="#" class="btn">Номера</a>

            </div>
          </article>
        </li>
        <li class="hotel-item">
          <article class="hotel">
            <img src="img/mentira_piadosa.jpg" alt="mentira piadosa" class="hotel-image">
            <div class="hotel-text">
              <div class="hotel-top-info">
                <span class="hotel-price">
                  <span class="hotel-price-from">от</span>
                  <b class="hotel-price-number">6 320 ₽</b>
                  / ночь
                </span>
                <div class="hotel-rating">
                  <img src="img/start-ok.svg" alt="Рейтинг фильма 4 из 5">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/star.svg" alt="">
                </div>
              </div>
              <h3 class="hotel title">Lagoona mentira piadosa</h3>
                <span class="hotel-place">Барселона, Испания</span>
                <a href="#" class="btn">Номера</a>

            </div>
          </article>
        </li>
        <li class="hotel-item">
          <article class="hotel">
            <img src="img/empujar.jpg" alt="empujar" class="hotel-image">
            <div class="hotel-text">
              <div class="hotel-top-info">
                <span class="hotel-price">
                  <span class="hotel-price-from">от</span>
                  <b class="hotel-price-number">6 457 ₽</b>
                  / ночь
                </span>
                <div class="hotel-rating">
                  <img src="img/start-ok.svg" alt="Рейтинг фильма 4 из 5">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/star.svg" alt="">
                </div>
              </div>
              <h3 class="hotel title">Lagoona empujar la creatividad</h3>
                <span class="hotel-place">Барселона, Испания</span>
                <a href="#" class="btn">Номера</a>

            </div>
          </article>
        </li>
        <li class="hotel-item">
          <article class="hotel">
            <img src="img/retorno.jpg" alt="retorno" class="hotel-image">
            <div class="hotel-text">
              <div class="hotel-top-info">
                <span class="hotel-price">
                  <span class="hotel-price-from">от</span>
                  <b class="hotel-price-number">6 320 ₽</b>
                  / ночь
                </span>
                <div class="hotel-rating">
                  <img src="img/start-ok.svg" alt="Рейтинг фильма 4 из 5">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/star.svg" alt="">
                </div>
              </div>
              <h3 class="hotel title">Lagoona el retorno</h3>
                <span class="hotel-place">Барселона, Испания</span>
                <a href="#" class="btn">Номера</a>

            </div>
          </article>
        </li>
        <li class="hotel-item">
          <article class="hotel">
            <img src="img/piadosa.jpg" alt="piadosa" class="hotel-image">
            <div class="hotel-text">
              <div class="hotel-top-info">
                <span class="hotel-price">
                  <span class="hotel-price-from">от</span>
                  <b class="hotel-price-number">6 505 ₽</b>
                  / ночь
                </span>
                <div class="hotel-rating">
                  <img src="img/start-ok.svg" alt="Рейтинг фильма 4 из 5">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/star.svg" alt="">
                </div>
              </div>
              <h3 class="hotel title">Lagoona mentira piadosa</h3>
                <span class="hotel-place">Барселона, Испания</span>
                <a href="#" class="btn">Номера</a>

            </div>
          </article>
        </li>
        <li class="hotel-item">
          <article class="hotel">
            <img src="img/suerte.jpg" alt="suerte" class="hotel-image">
            <div class="hotel-text">
              <div class="hotel-top-info">
                <span class="hotel-price">
                  <span class="hotel-price-from">от</span>
                  <b class="hotel-price-number">6 824 ₽</b>
                </span>
                <div class="hotel-rating">
                  <img src="img/start-ok.svg" alt="Рейтинг фильма 4 из 5">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/start-ok.svg" alt="">
                    <img src="img/star.svg" alt="">
                </div>
              </div>
              <h3 class="hotel title">Lagoona suerte siguió siempre</h3>
                <span class="hotel-place">Барселона, Испания</span>
                <a href="#" class="btn">Номера</a>

            </div>
          </article>
        </li>
        <li class="hotel-item hotels-show-more" style="background-image: url('img/all_list.jpg') ;">
          <a class="arrow-link" href="#">Посмотреть все варианты</a>
        </li>
      </ul>
    </section>
</body>
</html>
