<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Модуль</title>
</head>

<body>
  <div class="conteiner-modules conteiner-modules-padding">
    <a class="modules-logo" href="http://skillbox.ru" target="_blank">
      <img src="img/skillbox-logo-vector.svg" alt="Логотип Skillbox">
    </a>
    <a class="modules-index" href="index.html">На главную
    </a>
    <h1 class="modules-title">Модули курса Веб-верстка</h1>
    <ul class="reset-list modules-list">

      <li class="modules-card" style="background-image: url('img/intro.jpg') ;">
      <h2 class="modules-card-title">Введение</h2>
      <ul class="reset-list card-list">
        <li class="card-item">Как работают сайты. Верстка</li>
        <li class="card-item">Возможности HTML, CSS, JS</li>
        <li class="card-item">Редактор кода. Codepen</li>
        <li class="card-item"> Работа с DevTools</li>
      </ul>
    </li>

      <li class="modules-card" style="background-image: url('img/basic-html.jpg') ;">
      <h2 class="modules-card-title">Базовый HTML</h2>
      <ul class="reset-list card-list">
        <li class="card-item">Базовые теги</li>
        <li class="card-item">Теги картинок и ссылок</li>
        <li class="card-item">Теги таблиц</li>
        <li class="card-item"> Служебные теги</li>
        <li class="card-item">Кодстайл HTML</li>
      </ul>
    </li>

      <li class="modules-card" style="background-image: url('img/basic-css.jpg') ;">
      <h2 class="modules-card-title">Базовый CSS</h2>
      <ul class="reset-list card-list">
        <li class="card-item">Подключение CSS</li>
        <li class="card-item">Вес селектора</li>
        <li class="card-item">Свойство display</li>
        <li class="card-item">Блочная модель и позиционирование</li>
        <li class="card-item">Кодстайл CSS</li>
      </ul>
    </li>

      <li class="modules-card" style="background-image: url('img/layout-work.jpg') ;">
      <h2 class="modules-card-title">Работа с макетом</h2>
      <ul class="reset-list card-list">
        <li class="card-item">Про форматы изображений</li>
        <li class="card-item">Работа с макетом в Photoshop</li>
        <li class="card-item">Работа с макетом в Figma</li>
      </ul>
    </li>
    </ul>

    <button class="btn btn-show-more">Показать ещё</button>
  </div>
</body>

</html>
